* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f7fd;
  color:#26385e;
}

header {
  font-family: "Lucida Bright", Georgia, serif; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg,#26385e, #4a6ab0, #26385e);
  color:#ffffff;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#preloader img {
  width: 15%;   
  height: auto;   
}


.logo {  
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  color:white;
}

.logo img {
  height: 45px;
  width: 45px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-items li a {
  font-family: "Lucida Bright", Georgia, serif; 
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  font-size:15px;
}
.nav-items li a:hover {
  color:#b7cfe6; 
}

/*TOP BANNER*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background: transparent;
}

.hero-text {
  width: 50%;
  color: #26385e;
  text-align: center;
  padding-top:10px;
}

.hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  padding-top: 30px;
  width: 100%;
  max-width: 650px;
  height: auto;
}


.txt {
  font-family: 'Corinthia', cursive;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 30px;
}

.fade1, .fade2{
  font-family: "Lucida Bright", Georgia, serif; 
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 30px; 
}

.btn {
  position: relative;
  padding: 15px 24px;
  background-color: #26385e;
  color: #fdfdfd;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Bright", Georgia, serif;
  border-radius: 25px;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  transform: skewX(-20deg);
  animation: sheen-line 2.5s infinite;
  z-index: 1;
}

.btn span {
  position: relative;
  z-index: 2;
}

@keyframes sheen-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Fade-in animation 1*/
.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.fade1 {
  animation-delay: 0.5s;

}

.fade2 {
  animation-delay: 1.2s;
}

.fade3 {
  animation-delay: 2s;
}



@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pic{
justify-content: right;
padding: 20px;
width:100px;
height:100px;
}

/*BANNER2*/

.txt1{
  padding-left:75px;
  text-align: center;
  font-family: "Lucida Bright", Georgia, serif;
  padding-top:70px;
}

.txt1 h1{
  font-size: 2.5rem;
}
.txt1 p{
  font-style: italic;
  font-size: 1.2rem;
}

/*SLIDESHOW*/
.container{
  padding: 15px;
  width: 93%;          
  max-width: 1200px;    
  margin: 0 auto;     
  height: 70%;         
  display: flex;
  align-items: center;  
  justify-content: center;
  
}
.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.3);
}


.slideshow-container {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 100%;
  width: 100%;
}

.slide {
  flex: 0 0 100%;     
  height: 100%;
  background-size: cover;
  background-position: center;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  transition: background 0.3s;
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.6);
}

.prev { left: 20px; }
.next { right: 20px; }


.dots {
  position: absolute;
  bottom:1px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
  padding:20px;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #ffffff;
}

.image-caption {
  font-family: "Lucida Bright", Georgia, serif; 
  position: absolute;
  bottom: 25px;
  right: 20px;
  padding: 6px 14px 6px 38px;
  background:transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-shadow: #111111;
  z-index: 12;
  pointer-events: none; 
  background-image: url("images/pin.png");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position:8px center;
}

.why-navmate {
  text-align: center;
  margin-top: 60px;
  padding: 20px 60px;
  color: #26385e;
  font-family: "Lucida Bright", Georgia, serif; 
}

.why-navmate h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

/* Bento Grid */
.bento-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding-bottom:60px;
  
}

.bento-item {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.bento-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.bento-item h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #324b86; 
}
.bento-item p {
  font-size:0.9rem;
}

@media (max-width: 768px) {
  .bento-box {
    grid-template-columns: 1fr; 
  }
}

.bento-box img{
  padding-top:10px;
}
  
.img1 {
  width: 60px;
  height: 70px;
}
.img2 {
  width: 65px;
  height: 65;
}.img3{
  width: 55px;
  height: 59px;
}.img4 {
  width: 85px;
  height: 64px;
}


footer {
  text-align: center;
  padding: 15px 0;
  font-size: 17px;
  background-color: #26385e;
  color:white
}
